h1{
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 350%;
    text-decoration: underline;
}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.below{
    clear: right;
}
.below1{
    clear: left;
}