h1{
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 350%;
    text-decoration: underline;
    width: 100%;
}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.below{
    clear: right;
}
.below1{
    clear: left;
}
p{
    text-align: center;
    color: white;
    font-size: 140%;
}
#id1{
    border: white .3rem groove;
}
#id2{
    display: inline-block;
}
li{
    color: white;
    font-size:100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
ul{
    position: relative;
    float: right;
    text-align: center;
    width: 40%;
}
h3{
    color: white;
}
